<div class="gridblock">
  <table class="views-view-grid cols-4">
    <tbody>
      <tr class="row-1 row-first row-last">
        <td class="col-1 col-first">
          <div class="views-field views-field-field-banner-mini">
            <div class="field-content">
              <a href="/apps/buzzwords.html">
                <img typeof="foaf:Image" src="{{ ASSET_PATH }}images/buzzwords_mini_banner.png" alt="buzzwords app icon" />
              </a>
            </div>
          </div>
        </td>
        <td class="col-2">
          <div class="views-field views-field-field-banner-mini">
            <div class="field-content">
              <a href="/apps/buzzwords.html">
                <img typeof="foaf:Image" src="{{ ASSET_PATH }}images/buzzwords_lite_mini_banner.png" alt="buzzwords lite app icon" />
              </a>
            </div>
          </div>
        </td>
        <td class="col-3">
          <div class="views-field views-field-field-banner-mini">
            <div class="field-content">
                <img typeof="foaf:Image" src="{{ ASSET_PATH }}images/mystery_mini_banner.png" alt="more to come!" />
            </div>
          </div>
        </td>
        <td class="col-4 col-last">
        </td>
      </tr>
    </tbody>
  </table>
</div>