/******
We'll store style overrides to the bootstrap style here.
*****/

/* Override some defaults */
.container > footer p {
  text-align: center; /* center align it with the container */
}

.content {
  padding-top: 70px;
  -webkit-font-smoothing: antialiased;
}

footer {
  margin-top: 20px;
}

/* Page header tweaks */
.page-header {
  background-color: #fff;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
  text-align: center;
}

.topbar .btn {
  border: 0;
}

.navbar-inverse .brand {
  color: #fff;
  padding: 7px 30px 7px 0;
  margin-left: -40px;
}

.brand-title {
  padding-top: 2px;
}

/* subnav ========================================================== */
.subnav .active{
  background-color:  blue;
}

/* tag_box ======================================================== */

.tag_box {
  list-style: none;
  margin: 0;
  padding: 5px 0 ;
  overflow: hidden;
}
.tag_box li {
  line-height: 28px;
}
.tag_box.inline li {
  float: left;
}
.tag_box a {
  padding:  3px 6px;
  margin:  2px;
  background:  #eee;
  color: #005F6B;
  border-radius:  3px;
  text-decoration: none;
}
.tag_box a span{
  vertical-align: super;
  font-size: 0.8em;
}
.tag_box a.active {
  background: #57A957;
  border: 1px solid #4C964D;
  color: #FFF;
}

/* blog styles ===================================================== */
.post-content {
  list-style-type: none;
  padding: 10px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;;
}
.post-title {
  font-size: 1.5em;
}